{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% trans "Link Checker Results" %}{% endblock %}
{% block bodyclass %}menu-linkchecker{% endblock %}
{% block content %}
{% include "wagtailadmin/shared/header.html" with title="Link Checker" icon="link" %}
<div class="nice-padding">
	<h2>{% blocktrans %}Results{% endblocktrans %}</h2>
	<hr />
	{% if scan.links.broken_links_with_owners %}
	<h3>{% blocktrans %}Broken Links With Page Owners{% endblocktrans %}</h3>
	<table class="listing">
		<colgroup />
		<thead>
			<tr class="table-headers">
				<th class="title">{% blocktrans %}Page Containing Link{% endblocktrans %}</th>
				<th class="link">{% blocktrans %}Link{% endblocktrans %}</th>
				<th class="error">{% blocktrans %}Error{% endblocktrans %}</th>
				<th class='owner'>{% blocktrans %}Page Owner{% endblocktrans %}</th>
				<th class='edit'>{% blocktrans %}{% endblocktrans %}</th>
			</tr>
		</thead>
		<tbody>
			{% for link in scan.links.broken_links_with_owners %}
			<tr>
				<td style="word-break: break-word;" class="title">
					{{link.page.title}}
				</td>
				<td style="word-break: break-all;" class="link"><a href='{{link}}'
						target="_blank">{{link}}</a>{% if link.page_is_deleted %}<br /><b>{% blocktrans %}Info: </b>PAGE CONTAINING
					THIS LINK WAS DELETED{% endblocktrans %}{% endif %}</td>
				<td style="word-break: break-word;" class="error">
					<p>{{link.error_text}}</p>
				</td>
				<td class='owner'>{{link.page.owner}}</td>
				<td class='edit' style="float: right;">
					<ul>
						<li>
							<a href="{% url 'wagtailadmin_pages:edit' link.page.id %}" target="_blank"
								class="button button-small">{% blocktrans %}Edit Page With Link{% endblocktrans %}</a>
						</li>
					</ul>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<br>
	{% endif %}
	{% if scan.links.broken_links_without_owners %}
	<h3>{% blocktrans %}Broken Links Without Page Owners{% endblocktrans %}</h3>
	<table class="listing" style="word-break: break-all;">
		<colgroup />
		<thead>
			<tr class="table-headers">
				<th class="title">{% blocktrans %}Page Containing Link{% endblocktrans %}</th>
				<th class="link">{% blocktrans %}Link{% endblocktrans %}</th>
				<th class="error">{% blocktrans %}Error{% endblocktrans %}</th>
				<th class='edit'>{% blocktrans %}{% endblocktrans %}</th>
			</tr>
		</thead>
		<tbody>
			{% for link in scan.links.broken_links_without_owners %}
			<tr>
				<td style="word-break: break-word;" class="title">
					{{link.page.title}}
				</td>
				<td style="width: 50%; word-break: break-all;" class="link"><a href='{{link}}'
						target="_blank">{{link}}</a>{% if link.page_is_deleted %}<br /><b>{% blocktrans %}Info: </b>PAGE CONTAINING
					THIS LINK WAS DELETED{% endblocktrans %}{% endif %}</td>
				<td style="word-break: break-word;" class="error">
					<p>{{link.error_text}}</p>
				</td>
				<td class='edit' style="float: right;">
					<a href="{% url 'wagtailadmin_pages:edit' link.page.id %}" target="_blank"
						class="button button-small">{% blocktrans %}Edit Page With Link{% endblocktrans %}</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
	<br>
	{% if scan.links.non_scanned_links.exists %}
	<h2>{% blocktrans %}Links still to be scanned {% endblocktrans %}</h2>
	<hr />
	{% for link in scan.links.non_scanned_links %}
	<p>
		<a href='{{link}}' target="_blank">{{link}}</a>{% if link.page_is_deleted %} - {% blocktrans %}PAGE CONTAINING LINK
		WAS DELETED{% endblocktrans %}{% endif %}
	</p>
	{% endfor %}
	{% endif %}
	{% if not scan.links.broken_links.exists %}
	<p>{% blocktrans %}There are no broken links to display.{% endblocktrans %}</p>
	{% endif %}
	<a href="{% url 'wagtaillinkchecker' %}"
		class="button bicolor icon icon-arrow-left">{% blocktrans %}Back{% endblocktrans %}</a>
</div>
{% endblock %}